<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
    <form action="/productDetail" method="post">
        <div class="imagen-planta">
            <img src="<%= planta.imagen %>" alt="">
        </div>
        <div class="nombre-precio-planta">
            <h3><%= planta.nombre %></h3>
            <br>
            <h4><%= planta.precio %></h4>
            <br>
            <p><%= planta.descuento %></p>
            <br>
            <button>Agregar al carrito</button>
        </div> 
    </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>